<a href="https://colab.research.google.com/github/Muhammed1978/Amazon-Product-Review-Analysis/blob/main/Another_copy_of_copy_of_dsa_classwork0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#VARIABLES
#Comments is  a desription
#variables are containers that stores items or data
#Values are stored in variables

#example
name = "Muhammad"
#name is a variable
#Muhammad is value stored in the variable "name "
Age = 47
#Age is a variable
#47 is value stored in the variable "Age"

#Task to do
#Create three variable names and give it each a value.
Program = "Digital skill Africa"
Course  = "Datascience and Machine learning"
Age     = 47

#Comments
#Program is a variable
#Digital skill Africa is a string value stored in variable
#Course is variable
#Datascience and Machine learning is a string value stored in variable
#Age is variable
#47 is a numeric value stored in a variable

#COMMON DATA STRUCTURES IN PYTHON

#Integer = 12, 13 , 21,.....
#Float are decimals = 0.1, 2.34,....
#String or object ="17", "Muhammad","John"....."Eze",
#Boolean = True or False

name = "Muhammad" or 'Muhammad'

#Naming Convention
#correct way
namesake = wrong
name_sake = correct

#DATA STRUCTURES IN PYTHON
#List
#Tuple
#Set
#Dictionary

#How to identify Data structures
#Examples:
Bio_data =[] #List
Bio_data = () #Tuple
Bio_data = {} #Dictionary
Bio_data = set(1,2,3) #Set

#CONDITIONAL FORMATING (and ,or, not );logical operators
#Examples:
#Hassan Aand Husseini
#Boy or girl
#Not boy == girl
#Not girl == boy
# == means equal to
# = means assign to

In [ ]:
age == 78 #== means equal to , = means assingned to

False

In [ ]:
age = 18
age < 20

False

In [ ]:
(3>2) and (4>7) #and all conditions is true

False

In [ ]:
(age>40) and (age<20) #and all conditions muts be true

False

In [ ]:
(age>40) and (age<20) #and all conditions muts be true

False

In [ ]:
(age>40) or  (age<20) #or --- as far as one condition  is True

True

In [ ]:
#not T = F
#not F = T
not(age>40)

True

In [ ]:
name = "Alice"
Age = 30
Height = 5.5
gender = "Male"
name
Height
Age
gender

'Male'

In [ ]:
Age = 30
Age

30

In [ ]:
type("Alice")

str

In [ ]:
type(Height)

float

Data structures

List
Tuples
Dictionary&
Sets

Example 1

In [ ]:
#Creating a list
Fruit = ["Mango","Apple","Banana","Orange"]
type(Fruit)

list

In [ ]:
len(Fruit)

4

Example 2

#Life  expectancy is the average number of year  a person is expected to live based on the year of its birth.
#Life expectancy in the year 2020.
 #Example 2

In [ ]:
life_expectancy = {"Nigeria": 60,"Kenya":69,"Uganda": 68,"Ethiopia":68,"Sudan":67,"Rwanda": 65,"Tanzania":64,"Somalia":54}
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54}

In [ ]:
type(life_expectancy)

dict

Example *2*
#Dictionary

In [ ]:
#Some countries in the given africa regions
africa_regions = {"East Africa":["Etiopia","Rwanda","Somalia","South Sudan","Uganda","Burundi"],
                  "North Africa": ["Algeria", "Egypt", "Libya","Morroco","Sudan","Tunisia"],
                  "West Africa":["Nigeria","Ghana","Senegal","Benin","Liberia","Mali","Nigeria"],
                  "Central Africa":["Angola","Cameroon","Chad","DRC","Gabon"],
                  "Southern Africa":["Botswana","Ethiopia","Lesotho","Namibia","REunion","South africa"]}
print(africa_regions)

{'East Africa': ['Etiopia', 'Rwanda', 'Somalia', 'South Sudan', 'Uganda', 'Burundi'], 'North Africa': ['Algeria', 'Egypt', 'Libya', 'Morroco', 'Sudan', 'Tunisia'], 'West Africa': ['Nigeria', 'Ghana', 'Senegal', 'Benin', 'Liberia', 'Mali', 'Nigeria'], 'Central Africa': ['Angola', 'Cameroon', 'Chad', 'DRC', 'Gabon'], 'Southern Africa': ['Botswana', 'Ethiopia', 'Lesotho', 'Namibia', 'REunion', 'South africa']}

In [ ]:
print(africa_regions)

{'East Africa': ['Etiopia', 'Rwanda', 'Somalia', 'South Sudan', 'Uganda', 'Burundi'], 'North Africa': ['Algeria', 'Egypt', 'Libya', 'Morroco', 'Sudan', 'Tunisia'], 'West Africa': ['Nigeria', 'Ghana', 'Senegal', 'Benin', 'Liberia', 'Mali', 'Nigeria'], 'Central Africa': ['Angola', 'Cameroon', 'Chad', 'DRC', 'Gabon'], 'Southern Africa': ['Botswana', 'Ethiopia', 'Lesotho', 'Namibia', 'REunion', 'Soth africa']}

In [ ]:
africa_regions

{'East Africa': ['Etiopia',
  'Rwanda',
  'Somalia',
  'South Sudan',
  'Uganda',
  'Burundi'],
 'North Africa': ['Algeria', 'Egypt', 'Libya', 'Morroco', 'Sudan', 'Tunisia'],
 'West Africa': ['Nigeria',
  'Ghana',
  'Senegal',
  'Benin',
  'Liberia',
  'Mali',
  'Nigeria'],
 'Central Africa': ['Angola', 'Cameroon', 'Chad', 'DRC', 'Gabon'],
 'Southern Africa': ['Botswana',
  'Ethiopia',
  'Lesotho',
  'Namibia',
  'REunion',
  'South africa']}

In [ ]:
len(africa_regions)

5

In [ ]:
list(africa_regions)

['East Africa',
 'North Africa',
 'West Africa',
 'Central Africa',
 'Southern Africa']

In [ ]:
africa_regions.keys()

dict_keys(['East Africa', 'North Africa', 'West Africa', 'Central Africa', 'Southern Africa'])

In [ ]:
life_expectancy = {"Nigeria": 60,"Kenya":69,"Uganda": 68,"Ethiopia":68,"Sudan":67,"Rwanda": 65,"Tanzania":64,"Somalia":54}
life_expectancy.keys()

dict_keys(['Nigeria', 'Kenya', 'Uganda', 'Ethiopia', 'Sudan', 'Rwanda', 'Tanzania', 'Somalia'])

In [ ]:
life_expectancy.values()

dict_values([60, 69, 68, 68, 67, 65, 64, 54])

In [ ]:
life_expectancy.items()

dict_items([('Nigeria', 60), ('Kenya', 69), ('Uganda', 68), ('Ethiopia', 68), ('Sudan', 67), ('Rwanda', 65), ('Tanzania', 64), ('Somalia', 54)])

In [ ]:
life_expectancy.get("Nigeria")

60

Update Dictionary

Example 3

In [ ]:
life_expectancy.update({"Kenya":70,"Burundi":72})
life_expectancy

{'Nigeria': 60,
 'Kenya': 70,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 72}

Condtional Statements

Majority of the time when programming we will need ro control the flow of our logic .Our program will want to perform an action in only certisn cases,we acn use the followings:

1. if
2. elif
3. else

# if statement
It is use to make a decision ,the format for an if statement is:

if expression:

     statement 1
else:
     
      statement 2

The if statement checks whether the epression  evaluates to True, and if so,the statement '1' is executed ,otherwise the staenebt '2' is executed.

Note:

The indentation  before the statement 1 and 2 ,and the colon (:) in the if expression and else:

Example 4

In [ ]:
x = 25

y = 22

if (x < y):
  print ("x is less than y")

else:
  print ("x is greater than y")

x is greater than y

Example 5

Problem statement:
Write  a python if else statement that checks whether a given variable is an even or an odd number.

In [ ]:
#Solution
x = 7
if (x % 2 == 0):
  print("x is an even number")
else:
  print("x is an odd number")

x is an odd number

Example 6: if else statement

Problem statement
 Write a python program using  *if else statement *that checks whether a given value is even or odd number.

#Solution

We are going to use the input() function to ask for a value, and as you know, the data type of a variable gotten from an input function is always a string. Therefore, we are going to convert the result to an integer by using the int() function.

In [ ]:
x = int(input("Enter any number you want to check for odd or even"))

if (x % 2 == 0):
  print("x is an even number")

else:
  print("x is an odd number")

Enter any number you want to check for odd or even10
x is an even number

Example 7:Modulus

Its a remainder of number when divided with another number

In [ ]:
4%2

0

In [ ]:
3%2 == 0

False

Example 8 :Game of Guess

Problem statement

You wan to know whether your friends can guess your ATM password a accurately.You wrote the codes  below and then ask each and everyone of them yo enter your password.

In [ ]:
saved_password = 1519
new_password = input("Please guess my passwprd")

if int(new_password) == saved_password:

  print("Password correct")
else:
  print("Incorrect password")

Please guess my passwprd    1960
Incorrect password

Example 9 :Test

Problem statement

Test if 'a' is less than 'b' AND if 'c' greater than a:

In [ ]:
#Solution
a = 10
b = 13
c = 16

if (a > b and c > a):
  print("Both conditions are True")

else:
  print("one of the conditions is True")

one of the conditions is True

In [ ]:
a>b

False

In [ ]:
c>a

True

Combination of Conditional statements

if,elif, and else:

Now let's imagine we have mutiple conditions to check before the final ***else*** statement,this is where we can use the **elif** keyword to check for as many individual condition as possible.

In [ ]:
#Example 1
x = 2
y = 4
if x == y:
  print("Print condition True")
elif x > y:
  print("Second condition True")
elif x == 100:
  print("Third condition True")

else:
  print("None of the above conditions are True")

None of the above conditions are True

In [ ]:
#Example 2

x = 2
y = 6
if x == y:
  print("First condition is True")
elif y > x:
  print("Second condition  is True")
elif x == 100:
  print("Third condition True")

else:
  print("None of the above conditions are True")

Second condition  is True

Notice

Since y > x, therefore, this condition will be executed

Bank transfer experience

In [ ]:
#Example 4
amount_in_bank = 600
transfer_amount = 500

if amount_in_bank > transfer_amount:
  print ("transfer successful")
elif amount_in_bank == transfer_amount:
  print(" Transfer successfull! Remember to add more fund next time")
else:
  print ("Transfer Failded! Not Enough Funds")

transfer successful

 Sport Experience

In [ ]:
#Example 5
Kenya = 10
South_sudan = 12
Ethiopia = 9

if Kenya > Ethiopia:
  print("Kenya is having more point")
elif South_sudan == Ethiopia:
  print("South_sudan  and Ethiopia are having the same point currently")
else:
  print("Spectator needs to watch other game")

Kenya is having more point

Conditional statement Continued
#If and alse statement

#if .....the first condition
#else .....the second or the other condition

 Problem statement

 #Write conditional statement in python to show if a driver is overspeeding or normal.

 #How do i know if a driver is overspeeding or not?

In [ ]:
#Example 6
#Solution
speed = 70
if (speed >= 80):
  print("Driver is overspeeding")
else:
  print("Driver is not overspeeding")

Driver is not overspeeding

#Example 7

#Problem statement
You are Python a programmer, write a python code to check if a user score above 200.

In [ ]:
#Solution
user_score = 130
if (user_score > 200):
  print("User is admitted")
else:
  print("User is not admitted")

User is not admitted

Example 8

Problem statement

Write a python program to check if a number is even or odd number.

In [ ]:
#Solution
number = 10
if (number%2==0):  # % -- modulus(remainder)
   print("Number is even")
else:
  print("Number is odd")

Number is even

#Example 9

Problem statement
#Write a python code to check if a user is eligible to vote in an election in Nigeria or not.

In [ ]:
age = 27
if (age == 18):
  print ("user is eligible to vote")
else:
    print("user is not eligible to vote")

user is not eligible to vote

#elif
This means we have more than one if and else

#if and else
#elif you wan to have more conditions to be tested before you get result.

#Example 10
#elif

In [ ]:
my_number = -9
if (my_number%2==0):
  print("the number is even")
elif(my_number<0):
  print("the number is negative")
else:
  print("the number is odd")

the number is negative

#Nestedif

 This means if inside an if

#Example 11

In [ ]:
my_number = -9
if (my_number >= 0):
  if (my_number % 2 == 0):
    print("The number is an even number")
  else:
    print("The number is an odd number")
else:
  print("The number is negative")

The number is negative

#Assignment

#You are a WAEC Python programmer, write a program flow that is able to grade a st[link text](https://)udent based on WAEC standard, output the grade as A1 or B2 or B3 or C4 or C5 or C6 or C6 or D7 or E8 or F9.

In [ ]:
#Solution 1
student_grade = 80
if (student_grade >= 80):
  print("A1")
elif (student_grade >= 65):
  print("B2")
elif (student_grade >= 55):
  print("B3")
elif (student_grade >= 45):
  print("C4")

A1

In [ ]:
student_grade = 80
if (student_grade >= 80):
  print("Student grade Excellent ")
elif (student_grade <= 80):
  print("B3")
else:
  print("Student grade is Good")

Student grade Excellent

In [ ]:
#Solutionn 3
student_grade = 55
if (student_grade <=50):
  print("Passed")
else:
  print("Failed")

Failed

#CONCANTENATION

In [ ]:
#Example 1
a = 5
if a >= 0:
  if (a % 2 == 0):
     print(a,'is even') #cocantenation
  else:
    print(a, 'is odd')
else:
  print(a, 'is negative')

5 is odd

LOOPS

Loop is one of the major tool of control flow that allows us to execute a block of code  many times as long as the condition is **True**.There are two major types of loops.

1. While loop

2. For loop

WHILE LOOP

Generally,the while loop is used to keep looping through a block of code while the condition is True. It can also be used to loop through a block of code a certain number of times as seen in the code below:

#while condition and the increment +1

In [ ]:
#Example 2
x = 5 #initialize our iterator x
while (x <= 10): #while is for looping
     print(x)
     x+= 1  #increment

5
6
7
8
9
10

AS seen in the example above,in a while loop,we need to have initialised a variable before the while statement ,in the case of our example 'a' was installed to 5.Another mportant thing to note is that the variable must be incremented to prevent the loop from executing forever(infinite loop).

#Infinite Loop

it is a loop that never terminates.

it is useful in client/server programing so that servers can continually communicate or receive request from clients.

THE BREAK STATEMENT

The break statement  is used to exit a loop when the condition is still **True**.

In [ ]:
my_number = 5 #initiated our my_number to be 5
while True : #once I run the code ,the loop should begin
     number = int(input('Guess a number:'))
     if (number == my_number):
      print ('Yay!! Your guess was right.')
      break
     else:
        print("You are wrong")

Guess a number:68
You are wrong
Guess a number:5
Yay!! Your guess was right.

THE CONTINUE STATEMENT

The** continue** statement is used to stop the current iteration and move on to the next iteration.When the program execution reaches a continue statement,the program execution immediately jumps back to the start of the loop and re-evaluates the loop's condition.

Suppose we want to print  odd numbers between 1 and 50,we can use a continue statement to achieve it.

In [ ]:
#Example
a = 0 #initialization
while ( a <= 50):
     a += 1
     if(a % 2 == 0):
          continue #all the next iteration
     print(a)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51

FOR LOOPS

For loops are used for iterating over and a sequence (e.g strings,list,dictionaries,tuples,lines in a file etc).We can use for loop and the range() function to loop through a block of code a certian number of times.

In [ ]:
#Example

sequence = "hello" # Define 'sequence' as an iterable (e.g., a string)
for iterator in sequence:
  name = 'Brian'
  print(name)

Brian
Brian
Brian
Brian
Brian

In [ ]:
for s in name: #S is an iterator
     print(s)

B
r
i
a
n

In [ ]:
#name is the sequence
#ss is the iterator
#print the ss which is an iterator not the name where you are loop
for ss in name:
  print (ss)

B
r
i
a
n

In [ ]:
names = 'Brian'
for ss in names:   #iterator
     print(ss)
print ('End of loop')

# In the above example ,we used the for loop to iterate through the string and to print each character in the string.As used in the code above 'character' is just a variable name,we could use any varibale name like a letter.alphabet etc.We can also use for loops to iterate through a list.We could discuss lists abd other data sructures in the course.

In [ ]:
#Example
Colours = ['red','blue','green','yellow']
print(Colours)

['red', 'blue', 'green', 'yellow']

In [ ]:
for x in Colours:
  print(x)

red
blue
green
yellow

In [ ]:
door = ['red','blue','green','yellow']
for xx in door :
  print(xx)

red
blue
green
yellow

In [ ]:
digits = [10,20,30,40]
for nums in digits:
  print(nums)

10
20
30
40

USING LOOP FOR IN RANGE OF NUMBERS

Let see another an example of using the range () function with for loop to print even numbers betwee 1 and 15.

```
# This is formatted as code
```

In [ ]:
#Example 1
for i in range (1,16): #i is an iterator in for loop
    if (i % 2 == 0):
        continue #it skips the right iteration (i.e even numbers) and give the opposite(i.e odd numbers)
    print(i)

1
3
5
7
9
11
13
15

In [ ]:
#Example 2
for a in range (3,10): # reverse order of thr range
    print(a)

3
4
5
6
7
8
9

In [ ]:
#Example 3
for i in range(0,2): #atahe last 2 is the interval added
    print(i)

0
1

# Just like **while loops,break,continue** and **else** statements can be used in **for loops**.

In [ ]:
fruits = ['banana','mango','orange','apple','grape']
for x in fruits:
    if x == 'apple':
        continue
    print(x)

banana
mango
orange
grape

EXERCISE:GUESS THE NUMBER

In this exercise,initialise a **variable** with a number between **1 and 20**.Giving the user **6 chances** ,tell the user to **guess your chosen number**.Tell the user if his/her **chosen number is greater or less than** your **chosen number** or if he/she **guessed your chosen number right.**

In [ ]:
# solution
# initialize the variable with a random number between 1 and 20
chosen_number = 8

# set the number of chances to 6
num_chances = 6

# loop for 6 chances
for i in range(num_chances):

    # get the user's guess
    user_guess = int(input(f"Guess my number between 1 and 20 (Chances left: {num_chances - i}): "))

    # check if the guess is correct
    if user_guess == chosen_number:
        print("Congratulations! You guessed it right.")
        break

    # check if the guess is too high
    elif user_guess > chosen_number:
        print("Your guess is too high.")

    # check if the guess is too low
    else:
        print("Your guess is too low.")

# If the loop finishes without a correct guess
if user_guess != chosen_number:
    print(f"Sorry, you've run out of chances. The correct number was {chosen_number}.")

Guess my number between 1 and 20 (Chances left: 6): 8
Congratulations! You guessed it right.

COLLECTIONS

As well as the basic data types we introduced above,very commonly you will want to store and operate on collections of values ,and python has several data structures that you can use to do this.The general idea is that you can place several items into a single collection and then refer to that collection as a whole.Which one you will use will depend on what problem you are trying to solve.

PYTHON DATA STRUCTURES

 **Tuples**


  (1) can contain any number of items

  (2) can contain diffrent types of items
  
  (3)cannot be altered once created (they are immutable)
  
  (4) items have defined order

  A tuple is created by using round brackets around the items it contains, with commas seperating the individual elements.

In [ ]:
***You can of course use variables in tuples and data structures
#Example 1
x = 1.2
y = -0.3
z = 0.9
t = (x,y,z)  # () is atuple when we are discussing data structure
print(t)

(1.2, -0.3, 0.9)

*** Tuples can packed and unpacked with a convenient syntax.The number of variables used to unpack the tuple must match thr number of elements in the tuple.

In [ ]:
#Example 2
a = 1
b = 2
c = 3

a,b,c = 1,2,3#Pack and unpack syntax
print (a,b,c)

1 2 3

In [ ]:
#Example 3
t = 2,3,4,7 #tuple packing
print('t is',t)
x,y,z, f = t #tuple unpacking
print('x is',x) # Concatenation is to enclose string with variable inside a print statement.
print('y is',y)
print('z is',z)
print('f is',f)

t is (2, 3, 4, 7)
x is 2
y is 3
z is 4
f is 7

*** Lists

(1) Can contain any number of items

(2) Can contain different types of items

(3) Can be altered once created (they are mutable)

(4) Items have a particular order

***List are created with square brackets around their items:

In [ ]:
#Example 3
a = [1, 3,9,'py', 217.213] #mixed data types

b = ["python"]

c = [] #emtpy list
print(a)
print(b)
print(c)

[1, 3, 9, 'py', 217.213]
['python']
[]

***Lists and tuples can contain other list and tuples, or any other type of collection:

In [ ]:
#Example 4
matrix = [ [input(),input()], input()]
print(matrix)

8,9,10
9
11
[['8,9,10', '9'], '11']

*** You can convert between tuples and list fucntions.Note that these create a new collection with the same items,and leave the original unaffected.

In [ ]:
a = (1,4,9,16)  # A tuple of numbers
b = ['A','B','C','D'] # A list of characters

print(a)
print(b)

l = list(a)  # Make a list based on a tuple
print(l)

t = tuple(b) # Make a tuple based on list
print(t)

(1, 4, 9, 16)
['A', 'B', 'C', 'D']
[1, 4, 9, 16]
('A', 'B', 'C', 'D')

Manipulating tuples and lists

Once your data is in a list or tuple ,python supports a number of ways you can access elements of the list and manipulate the list in usefel ways,such as sorting the data.

Tuples and list can generally used very similar ways.

***Index access

You can access individual element of the collection using their index,note that the firdt element is at index 0.Negative indices count backwards from the end.

In [ ]:
#Index

a = [1,2,3,4,7]  # We have 5 items
#    [0,1,2,3,4]

#let do some indexing (selection)
a[0] = 1 #what is the value at index 0
a[1] = 2
a[2] = 3
a[4] = 7

colors = ['red','blue','yellow','green']
#         [0,1,2,3,3]

colors[0] = 'red'
colors [1] = 'blue'
colors[2] = 'yellow'
colors[3] = 'green'
#indexing - it is used to access an item,then an index satrts from 0

In [ ]:
#Example
#selecing by range
colors[0:3] = [0,1,2] == 'red','blue','yellow'
colors[0:] #start to the end ----- 'red','blue','yellow','green'
colors [:4] ---'red','blue','yellow','green'
colors[:] = 'red','blue','yellow','green

In [ ]:
#Examples 2
colors = ['red','blue','yellow','green']
          [0,1,2,3]

colors[0] = 'red'
colors[1] = 'blue'
colors[2] = 'yellow'
colors[3] = 'green'
colors[4] = #This does not exist

colors[4] ='orange'

#Imutability to a list not tuple
colors[4] = 'orange'

#selecting by range
 color[0:3] = [0,1,2] == 'red','blue','yellow'

 colors[0:] #start to the end ----- 'red','blue','yellow','green'

 colors [:4] ---'red','blue','yellow','green'

 colors[:] = 'red','blue','yellow','green'

In [ ]:
#Example 4
t = (123,54,92,87,33)

x = [321,45,29,78,30,24]

#range in the index
# The following line attempts to assign 5 elements to a slice that spans 4 elements, which would raise a ValueError.
# x[0:4] = [321,45,29,78,30]
#0,1,2,3, exclude position 4

x[1:3] = 1,2 # This replaces elements at index 1 and 2 with 1 and 2 respectively.
         #45,29 ends there
# The following lines are incorrect for tuples as they are immutable.
# t[0:2] = 123,54
# t[0:]  = 123,54,92,87,33
x[1:]  = 45,29,78,30,24 # This assigns multiple values to a slice.

#Reverse order - The following line is an incorrect slice assignment for lists.
# x[::-1] =24

print('t is',t)
print('t[0] is',t[0])
print('t[2] is',t[2])

print('x is',x)
print('x[-1] is',x[-1])

t is (123, 54, 92, 87, 33)
t[0] is 123
t[2] is 92
x is [321, 45, 29, 78, 30, 24]
x[-1] is 24

### Difference between List and Tuple Assignment

The fundamental difference between lists and tuples in Python is their mutability:

*   **Lists are mutable**: This means that after a list is created, you can change its elements, add new elements, remove existing elements, or even assign new values to specific indices or slices of the list.
*   **Tuples are immutable**: Once a tuple is created, its elements cannot be changed. You cannot modify an element, add or remove elements, or assign new values to a slice of a tuple. If you try to, Python will raise a `TypeError`.

In [ ]:
# Example of List Assignment
my_list = [1, 2, 3, 4, 5]
print(f"Original list: {my_list}")

# Modifying an element in a list
my_list[0] = 10
print(f"List after modifying an element: {my_list}")

# Assigning to a slice of a list
my_list[1:3] = [20, 30]
print(f"List after assigning to a slice: {my_list}")

# Adding elements to a list (not direct assignment, but demonstrates mutability)
my_list.append(60)
print(f"List after appending an element: {my_list}")

print("\n" + "-"*30 + "\n")

# Example of Tuple Assignment (attempted and resulting in error)
my_tuple = (1, 2, 3, 4, 5)
print(f"Original tuple: {my_tuple}")

# Attempting to modify an element in a tuple will raise a TypeError
try:
    my_tuple[0] = 10
except TypeError as e:
    print(f"Error when trying to modify an element in a tuple: {e}")

# Attempting to assign to a slice of a tuple will also raise a TypeError
try:
    my_tuple[1:3] = (20, 30)
except TypeError as e:
    print(f"Error when trying to assign to a slice of a tuple: {e}")

# To 'change' a tuple, you must create a new one
new_tuple = my_tuple + (6,)
print(f"New tuple created by concatenation: {new_tuple}")

# Or convert to a list, modify, and convert back
temp_list = list(my_tuple)
temp_list[0] = 100
modified_tuple = tuple(temp_list)
print(f"Tuple modified via list conversion: {modified_tuple}")

Original list: [1, 2, 3, 4, 5]
List after modifying an element: [10, 2, 3, 4, 5]
List after assigning to a slice: [10, 20, 30, 4, 5]
List after appending an element: [10, 20, 30, 4, 5, 60]

------------------------------

Original tuple: (1, 2, 3, 4, 5)
Error when trying to modify an element in a tuple: 'tuple' object does not support item assignment
Error when trying to assign to a slice of a tuple: 'tuple' object does not support item assignment
New tuple created by concatenation: (1, 2, 3, 4, 5, 6)
Tuple modified via list conversion: (100, 2, 3, 4, 5)

***You can add elements to the end of the list with append()

In [ ]:
#Example
x = [123,54,92,87,33]
x.append(101)
print(x)

[123, 54, 92, 87, 33, 101]

***You can insert values at a certain position with insert() by supplying desired position as well as the new value.

In [ ]:
#Example
x = [123,54,92,87,33]
x.insert(3,11111)
print(x)

[123, 54, 92, 11111, 87, 33]

***You can remove values with remove()

In [ ]:
#Example
x = [123,54,92,87,33]
x.remove(123)
print(x)

[54, 92, 87, 33]

***You can also delete values by index with **del**

In [ ]:
#Example
x = [123,54,92,87.33]
print(x)
del x[0]
print(x)

[123, 54, 92, 87.33]
[54, 92, 87.33]

***You can also remove values with remove()

In [ ]:
x = [123,54,92,87,33]
x.remove(123)
print(x)

[54, 92, 87, 33]

***You can also extend:
It,s often useful to be able to combine arrays together,which can be done with extend() (as append would add the whole list as a single element in the list).

In [ ]:
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)
a.append(b)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [4, 5, 6]]

***The plus symbol (+) is shortand for the extend operation when applied to list:

In [ ]:
a = [1,2,3,]
b = [4,5,6]
a = a + b
print(a)

[1, 2, 3, 4, 5, 6]

***Slice syntax can be used on the left hand side of an assignment operation to assign sub-regions of a list.

In [ ]:
a = [1,2,3,4,5,6]
a[1:3] = [9,9,9,9]
print(a)

[1, 9, 9, 9, 9, 4, 5, 6]

***You can change the order of elements in a list

In [ ]:
a = [1,2,3,4,2]
a.reverse()
print(a)

#print(0[::2])
a.sort()
print(a)

[2, 4, 3, 2, 1]
[1, 2, 2, 3, 4]

****Note that both of these change the list,if you want a sorted copy of the list while leaving the original untouched,use sorted()

In [ ]:
a = [2,5,7,1]
b = sorted(a)
print(a)
print(a)

[2, 5, 7, 1]
[2, 5, 7, 1]

String Manipulations

Strings are a lot like tuples of characters,and individual characters and substring can be acceseesed and manipulated using operations we introduced above.

In [ ]:
#Example
text ="ABCDEFGH"
print(text[0])
print(text[-2])
print(text[0:6])
print("EFG" in text)
print("ABC" in text)
print(len(text))

A
G
ABCDEF
True
True
8

***Just as with tuples,trying to assign a value an element of a string results in an error.

In [ ]:
text = "ABCDEFGH"
text[0:2] = "CCC"

TypeError: 'str' object does not support item assignment

In [ ]:
# Example 1: Using concatenation to create a new string
original_string = "ABCDEFGH"
new_string_1 = "CCC" + original_string[2:]
print(f"Original: {original_string}")
print(f"Modified (concatenation): {new_string_1}")

Original: ABCDEFGH
Modified (concatenation): CCCCDEFGH

In [ ]:
# Example 2: Using slicing and concatenation to insert/replace a part
original_string = "ABCDEFGH"
new_string_2 = original_string[:2] + "XYZ" + original_string[5:]
print(f"Original: {original_string}")
print(f"Modified (slicing & concatenation): {new_string_2}")

Original: ABCDEFGH
Modified (slicing & concatenation): ABXYZFGH

In [ ]:
# Example 3: Using the replace() method
original_string = "Hello World"
new_string_3 = original_string.replace("World", "Python")
print(f"Original: {original_string}")
print(f"Modified (replace method): {new_string_3}")

Original: Hello World
Modified (replace method): Hello Python

In [ ]:
# Example 4: Using f-strings for more complex formatting
name = "Alice"
age = 30
new_string_4 = f"My name is {name} and I am {age} years old."
print(f"Modified (f-string): {new_string_4}")

Modified (f-string): My name is Alice and I am 30 years old.

***Python provides a number of useful functions that let you manipulate strings.
The in operator lets you check if a substring is contained within a larger string,but it does not tell you where the substring is located .This is often useful to know and python provides the .find() method which returns the index of the first occurence of the search string,and the .rfind() methods to start searching from the end of the string.
if the search string is not found in the string both these methods return -1

In [ ]:
string = "ABCDEDCBA"
index = string.find("C")
print("CDE is at position:", index)
index = string.rfind('C')
print("The last C is at position:",index)

CDE is at position: 2
The last C is at position: 6

***When we are reading text from files(which we will see later on ), often there is an unwanted whitespace at the start or end of the string.We can remove leading whitespace with the

In [ ]:
s = "   My name is python   "
print(len(s), s, ".")
print(len(s.rstrip()),  s.rstrip(), ".")
print(len(s.lstrip()),  s.lstrip(), ".")
print(len(s.strip()),   s.strip(),  ".")

23    My name is python    .
20    My name is python .
20 My name is python    .
17 My name is python .

***You can split a string into a list substring using the .split() method,supplying the delimeter as an argument to the method.If you don't supply any delimeter the method will split the string on whitespace by default (which is very often what you want).
***To split a string into its compoent characters you can simply cast the string to aa list.

In [ ]:
string = "My name is Python"
words = string.split(" ")
print(words)


letters = list(string) # a tuple of characters converted into a list.

['My', 'name', 'is', 'Python']

***We also saw earlier that the + operator lets you concantenate strings together into a larger string.

***Note that this operator only works on variables of the same type.If you want to concantenate  a string with an integer (or some other type),first have to cast the integer to a string with the str() function.

In [ ]:
language = "Python"
version = 3.6
print(language + ' '+ str(version))

Python 3.6

Exercise 1.2.2

1. Create a string variable with your full name in it, with your first and last name(and any middle names) separated by a space.Split the string into a list, and print out your surname.

2. Check if your username contains the letter "E", and print ot the position of this letter in the string. Try a few letters.

Optional exercise

. Use a format string to print out your firdt name and the lenght of your name by looking into the python library for string formatting.

https://docs.python.org/3/library/stdtypes.html#str.format

and
https://docs.python.org/3/library/string.html#formatstrings
using str.format()

**Sets**

. Sets contain unique elements, i.e no appeals are allowed.

. The elements in a set do not have an order

.Sets cannot contain elements which can be internally modified (e.g list and dictionaries)

In [ ]:
l = [1,2,3,2,3] # list of 5 values
s = set(l) # set of 3 uniques values
print(s)
e = set() # empty set
print(e)

number = {5,6,8,9,6}
print(number)

{1,2,3}
set()
{8,9,5,6}

{1, 2, 3}
set()
{8, 9, 5, 6}

{5, 6, 8, 9}

***Sets are very similar to lists,and tuples,you can use many of the same operators and functions, except they are inherently unordered, so they don't have an index, and can only contain uniques values,so adding a value already in the set will have no effect.

In [7]:
#Example
s = set([1,2,3,2,3,])
print(s)
print("number in set:", len(s))
s.add(4)
print(s)
s.add(3)
print(s)

{1, 2, 3}
number in set: 3
{1, 2, 3, 4}
{1, 2, 3, 4}

***You can remove specific elements from the set

In [2]:
s = set([1,2,3,2,3])
print(s)
s.remove(3)
print(s)

{1, 2, 3}
{1, 2}

You can do all the expected logical operations on sets,such as taking the union or intersection of 2 sets with the | or and & and operators.

In [4]:
s1 = set ([2,4,6,8,10])
s2 = set ([4,5,6,7])

print("union:",s1 | s2)
print ("intersection:", s1 & s2)

union: {2, 4, 5, 6, 7, 8, 10}
intersection: {4, 6}

# **Dictionaries**

Lists are useful in many contexts,but often we have some data that has no inherent order and that we want to access by some useful name rather than an index.For example,as a result of some experiment we may have a set of genes and corresponding expression values.We could put the expression values in a list,but then we'd have to remeber which index in the list corresonding to which gene and this would quickly get complicated.

For these situations, a dictionary is a useful data structure.

***Dictionaries:

  . Conatin a mapping of keys to values (like a word and its corresponding definition in a dictionary).
  
  . The keys of a dictionary are unique,i.e they cannot repeat

  . The values of a dictionary can be of any data type
  
  . The keys of a dictionanry cannot be an internally modifiable type (e.g lists, but you can use tuples)

  . Dictionary do not share data in any particular order

  . The first thing you see dictionary is open and close curly brackets.

**** A dictionary
 - {} shows

 -It contains keys and values

 -To access an item(values),the key

 -To get the key and values,you use the item

In [1]:
student = {
  'name': 'Olu',
  'age': 78,
  'gender': 'male',
  'is married': True
}
student['name']

'Olu'

In [4]:
order = {
    "number1": "Biscuits",
    "name" :"Ola",
    "Price": 89.56,
    "is married": True
}
order['is married']

True

In [13]:
order = {
    "number1": "Biscuits",
    "name" :"Ola",
    "Price": 89.56,
    "is married": True,
    "gender": "male"
    }
print(order['name'])
print(order['Price'])
print(order['is married'])
print(order['number1'])
print(order['gender'])

Ola
89.56
True
Biscuits
male