<a href="https://colab.research.google.com/github/Muhammed1978/Amazon-Product-Review-Analysis/blob/main/Copy_of_DSA_Classwork0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#VARIABLES
#Comments is  a desription
#variables are containers that stores items or data
#Values are stored in variables

#example
name = "Muhammad"
#name is a variable
#Muhammad is value stored in the variable "name "
Age = 47
#Age is a variable
#47 is value stored in the variable "Age"

#Task to do
#Create three variable names and give it each a value.
Program = "Digital skill Africa"
Course  = "Datascience and Machine learning"
Age     = 47

#Comments
#Program is a variable
#Digital skill Africa is a string value stored in variable
#Course is variable
#Datascience and Machine learning is a string value stored in variable
#Age is variable
#47 is a numeric value stored in a variable

#COMMON DATA STRUCTURES IN PYTHON

#Integer = 12, 13 , 21,.....
#Float are decimals = 0.1, 2.34,....
#String or object ="17", "Muhammad","John"....."Eze",
#Boolean = True or False

name = "Muhammad" or 'Muhammad'

#Naming Convention
#correct way
namesake = wrong
name_sake = correct

#DATA STRUCTURES IN PYTHON
#List
#Tuple
#Set
#Dictionary

#How to identify Data structures
#Examples:
Bio_data =[] #List
Bio_data = () #Tuple
Bio_data = {} #Dictionary
Bio_data = set(1,2,3) #Set

#CONDITIONAL FORMATING (and ,or, not );logical operators
#Examples:
#Hassan Aand Husseini
#Boy or girl
#Not boy == girl
#Not girl == boy
# == means equal to
# = means assign to

In [ ]:
age == 78 #== means equal to , = means assingned to

False

In [ ]:
age = 18
age < 20

False

In [ ]:
(3>2) and (4>7) #and all conditions is true

False

In [ ]:
(age>40) and (age<20) #and all conditions muts be true

False

In [ ]:
(age>40) and (age<20) #and all conditions muts be true

False

In [ ]:
(age>40) or  (age<20) #or --- as far as one condition  is True

True

In [ ]:
#not T = F
#not F = T
not(age>40)

True

In [ ]:
name = "Alice"
Age = 30
Height = 5.5
gender = "Male"
name
Height
Age
gender

'Male'

In [ ]:
Age = 30
Age

30

In [ ]:
type("Alice")

str

In [ ]:
type(Height)

float

Data structures

List
Tuples
Dictionary&
Sets

Example 1

In [ ]:
#Creating a list
Fruit = ["Mango","Apple","Banana","Orange"]
type(Fruit)

list

In [ ]:
len(Fruit)

4

Example 2

#Life  expectancy is the average number of year  a person is expected to live based on the year of its birth.
#Life expectancy in the year 2020.
 #Example 2

In [ ]:
life_expectancy = {"Nigeria": 60,"Kenya":69,"Uganda": 68,"Ethiopia":68,"Sudan":67,"Rwanda": 65,"Tanzania":64,"Somalia":54}
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54}

In [ ]:
type(life_expectancy)

dict

Example *2*
#Dictionary

In [ ]:
#Some countries in the given africa regions
africa_regions = {"East Africa":["Etiopia","Rwanda","Somalia","South Sudan","Uganda","Burundi"],
                  "North Africa": ["Algeria", "Egypt", "Libya","Morroco","Sudan","Tunisia"],
                  "West Africa":["Nigeria","Ghana","Senegal","Benin","Liberia","Mali","Nigeria"],
                  "Central Africa":["Angola","Cameroon","Chad","DRC","Gabon"],
                  "Southern Africa":["Botswana","Ethiopia","Lesotho","Namibia","REunion","South africa"]}
print(africa_regions)

{'East Africa': ['Etiopia', 'Rwanda', 'Somalia', 'South Sudan', 'Uganda', 'Burundi'], 'North Africa': ['Algeria', 'Egypt', 'Libya', 'Morroco', 'Sudan', 'Tunisia'], 'West Africa': ['Nigeria', 'Ghana', 'Senegal', 'Benin', 'Liberia', 'Mali', 'Nigeria'], 'Central Africa': ['Angola', 'Cameroon', 'Chad', 'DRC', 'Gabon'], 'Southern Africa': ['Botswana', 'Ethiopia', 'Lesotho', 'Namibia', 'REunion', 'South africa']}

In [ ]:
print(africa_regions)

{'East Africa': ['Etiopia', 'Rwanda', 'Somalia', 'South Sudan', 'Uganda', 'Burundi'], 'North Africa': ['Algeria', 'Egypt', 'Libya', 'Morroco', 'Sudan', 'Tunisia'], 'West Africa': ['Nigeria', 'Ghana', 'Senegal', 'Benin', 'Liberia', 'Mali', 'Nigeria'], 'Central Africa': ['Angola', 'Cameroon', 'Chad', 'DRC', 'Gabon'], 'Southern Africa': ['Botswana', 'Ethiopia', 'Lesotho', 'Namibia', 'REunion', 'Soth africa']}

In [ ]:
africa_regions

{'East Africa': ['Etiopia',
  'Rwanda',
  'Somalia',
  'South Sudan',
  'Uganda',
  'Burundi'],
 'North Africa': ['Algeria', 'Egypt', 'Libya', 'Morroco', 'Sudan', 'Tunisia'],
 'West Africa': ['Nigeria',
  'Ghana',
  'Senegal',
  'Benin',
  'Liberia',
  'Mali',
  'Nigeria'],
 'Central Africa': ['Angola', 'Cameroon', 'Chad', 'DRC', 'Gabon'],
 'Southern Africa': ['Botswana',
  'Ethiopia',
  'Lesotho',
  'Namibia',
  'REunion',
  'South africa']}

In [ ]:
len(africa_regions)

5

In [ ]:
list(africa_regions)

['East Africa',
 'North Africa',
 'West Africa',
 'Central Africa',
 'Southern Africa']

In [ ]:
africa_regions.keys()

dict_keys(['East Africa', 'North Africa', 'West Africa', 'Central Africa', 'Southern Africa'])

In [ ]:
life_expectancy = {"Nigeria": 60,"Kenya":69,"Uganda": 68,"Ethiopia":68,"Sudan":67,"Rwanda": 65,"Tanzania":64,"Somalia":54}
life_expectancy.keys()

dict_keys(['Nigeria', 'Kenya', 'Uganda', 'Ethiopia', 'Sudan', 'Rwanda', 'Tanzania', 'Somalia'])

In [ ]:
life_expectancy.values()

dict_values([60, 69, 68, 68, 67, 65, 64, 54])

In [ ]:
life_expectancy.items()

dict_items([('Nigeria', 60), ('Kenya', 69), ('Uganda', 68), ('Ethiopia', 68), ('Sudan', 67), ('Rwanda', 65), ('Tanzania', 64), ('Somalia', 54)])

In [ ]:
life_expectancy.get("Nigeria")

60

Update Dictionary

Example 3

In [ ]:
life_expectancy.update({"Kenya":70,"Burundi":72})
life_expectancy

{'Nigeria': 60,
 'Kenya': 70,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 72}

Condtional Statements

Majority of the time when programming we will need ro control the flow of our logic .Our program will want to perform an action in only certisn cases,we acn use the followings:

1. if
2. elif
3. else

# if statement
It is use to make a decision ,the format for an if statement is:

if expression:

     statement 1
else:
     
      statement 2

The if statement checks whether the epression  evaluates to True, and if so,the statement '1' is executed ,otherwise the staenebt '2' is executed.

Note:

The indentation  before the statement 1 and 2 ,and the colon (:) in the if expression and else:

Example 4

In [ ]:
x = 25

y = 22

if (x < y):
  print ("x is less than y")

else:
  print ("x is greater than y")

x is greater than y

Example 5

Problem statement:
Write  a python if else statement that checks whether a given variable is an even or an odd number.

In [ ]:
#Solution
x = 7
if (x % 2 == 0):
  print("x is an even number")
else:
  print("x is an odd number")

x is an odd number

Example 6: if else statement

Problem statement
 Write a python program using  *if else statement *that checks whether a given value is even or odd number.

#Solution

We are going to use the input() function to ask for a value, and as you know, the data type of a variable gotten from an input function is always a string. Therefore, we are going to convert the result to an integer by using the int() function.

In [ ]:
x = int(input("Enter any number you want to check for odd or even"))

if (x % 2 == 0):
  print("x is an even number")

else:
  print("x is an odd number")

Enter any number you want to check for odd or even10
x is an even number

Example 7:Modulus

Its a remainder of number when divided with another number

In [ ]:
4%2

0

In [ ]:
3%2 == 0

False

Example 8 :Game of Guess

Problem statement

You wan to know whether your friends can guess your ATM password a accurately.You wrote the codes  below and then ask each and everyone of them yo enter your password.

In [ ]:
saved_password = 1519
new_password = input("Please guess my passwprd")

if int(new_password) == saved_password:

  print("Password correct")
else:
  print("Incorrect password")

Please guess my passwprd    1960
Incorrect password

Example 9 :Test

Problem statement

Test if 'a' is less than 'b' AND if 'c' greater than a:

In [ ]:
#Solution
a = 10
b = 13
c = 16

if (a > b and c > a):
  print("Both conditions are True")

else:
  print("one of the conditions is True")

one of the conditions is True

In [ ]:
a>b

False

In [ ]:
c>a

True

Combination of Conditional statements

if,elif, and else:

Now let's imagine we have mutiple conditions to check before the final ***else*** statement,this is where we can use the **elif** keyword to check for as many individual condition as possible.

In [ ]:
#Example 1
x = 2
y = 4
if x == y:
  print("Print condition True")
elif x > y:
  print("Second condition True")
elif x == 100:
  print("Third condition True")

else:
  print("None of the above conditions are True")

None of the above conditions are True

In [ ]:
#Example 2

x = 2
y = 6
if x == y:
  print("First condition is True")
elif y > x:
  print("Second condition  is True")
elif x == 100:
  print("Third condition True")

else:
  print("None of the above conditions are True")

Second condition  is True

Notice

Since y > x, therefore, this condition will be executed

Bank transfer experience

In [ ]:
#Example 4
amount_in_bank = 600
transfer_amount = 500

if amount_in_bank > transfer_amount:
  print ("transfer successful")
elif amount_in_bank == transfer_amount:
  print(" Transfer successfull! Remember to add more fund next time")
else:
  print ("Transfer Failded! Not Enough Funds")

transfer successful

 Sport Experience

In [ ]:
#Example 5
Kenya = 10
South_sudan = 12
Ethiopia = 9

if Kenya > Ethiopia:
  print("Kenya is having more point")
elif South_sudan == Ethiopia:
  print("South_sudan  and Ethiopia are having the same point currently")
else:
  print("Spectator needs to watch other game")

Kenya is having more point

Conditional statement Continued
#If and alse statement

#if .....the first condition
#else .....the second or the other condition

 Problem statement

 #Write conditional statement in python to show if a driver is overspeeding or normal.

 #How do i know if a driver is overspeeding or not?

In [2]:
#Example 6
#Solution
speed = 70
if (speed >= 80):
  print("Driver is overspeeding")
else:
  print("Driver is not overspeeding")

Driver is not overspeeding

#Example 7

#Problem statement
You are Python a programmer, write a python code to check if a user score above 200.

In [3]:
#Solution
user_score = 130
if (user_score > 200):
  print("User is admitted")
else:
  print("User is not admitted")

User is not admitted

Example 8

Problem statement

Write a python program to check if a number is even or odd number.

In [7]:
#Solution
number = 10
if (number % 2 == 0):
   print("Number is even")
else:
  print("Number is odd")

Number is even