<a href="https://colab.research.google.com/github/Muhammed1978/Amazon-Product-Review-Analysis/blob/main/Copy_of_DSA_Classwork0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#VARIABLES
#Comments is  a desription
#variables are containers that stores items or data
#Values are stored in variables

#example
name = "Muhammad"
#name is a variable
#Muhammad is value stored in the variable "name "
Age = 47
#Age is a variable
#47 is value stored in the variable "Age"

#Task to do
#Create three variable names and give it each a value.
Program = "Digital skill Africa"
Course  = "Datascience and Machine learning"
Age     = 47

#Comments
#Program is a variable
#Digital skill Africa is a string value stored in variable
#Course is variable
#Datascience and Machine learning is a string value stored in variable
#Age is variable
#47 is a numeric value stored in a variable

#COMMON DATA STRUCTURES IN PYTHON

#Integer = 12, 13 , 21,.....
#Float are decimals = 0.1, 2.34,....
#String or object ="17", "Muhammad","John"....."Eze",
#Boolean = True or False

name = "Muhammad" or 'Muhammad'

#Naming Convention
#correct way
namesake = wrong
name_sake = correct

#DATA STRUCTURES IN PYTHON
#List
#Tuple
#Set
#Dictionary

#How to identify Data structures
#Examples:
Bio_data =[] #List
Bio_data = () #Tuple
Bio_data = {} #Dictionary
Bio_data = set(1,2,3) #Set

#CONDITIONAL FORMATING (and ,or, not );logical operators
#Examples:
#Hassan Aand Husseini
#Boy or girl
#Not boy == girl
#Not girl == boy
# == means equal to
# = means assign to

In [ ]:
age == 78 #== means equal to , = means assingned to

False

In [ ]:
age = 18
age < 20

False

In [ ]:
(3>2) and (4>7) #and all conditions is true

False

In [ ]:
(age>40) and (age<20) #and all conditions muts be true

False

In [ ]:
(age>40) and (age<20) #and all conditions muts be true

False

In [ ]:
(age>40) or  (age<20) #or --- as far as one condition  is True

True

In [ ]:
#not T = F
#not F = T
not(age>40)

True

In [11]:
name = "Alice"
Age = 30
Height = 5.5
gender = "Male"
name
Height
Age
gender

'Male'

In [8]:
Age = 30
Age

30

In [12]:
type("Alice")

str

In [13]:
type(Height)

float

Data structures

List
Tuples
Dictionary&
Sets

Example 1

In [14]:
#Creating a list
Fruit = ["Mango","Apple","Banana","Orange"]
type(Fruit)

list

In [15]:
len(Fruit)

4

Example 2

#Life  expectancy is the average number of year  a person is expected to live based on the year of its birth.
#Life expectancy in the year 2020.
 #Example 2

In [1]:
life_expectancy = {"Nigeria": 60,"Kenya":69,"Uganda": 68,"Ethiopia":68,"Sudan":67,"Rwanda": 65,"Tanzania":64,"Somalia":54}
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54}

In [2]:
type(life_expectancy)

dict