<a href="https://colab.research.google.com/github/Muhammed1978/Amazon-Product-Review-Analysis/blob/main/Copy_of_copy_of_dsa_classwork0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#VARIABLES
#Comments is  a desription
#variables are containers that stores items or data
#Values are stored in variables

#example
name = "Muhammad"
#name is a variable
#Muhammad is value stored in the variable "name "
Age = 47
#Age is a variable
#47 is value stored in the variable "Age"

#Task to do
#Create three variable names and give it each a value.
Program = "Digital skill Africa"
Course  = "Datascience and Machine learning"
Age     = 47

#Comments
#Program is a variable
#Digital skill Africa is a string value stored in variable
#Course is variable
#Datascience and Machine learning is a string value stored in variable
#Age is variable
#47 is a numeric value stored in a variable

#COMMON DATA STRUCTURES IN PYTHON

#Integer = 12, 13 , 21,.....
#Float are decimals = 0.1, 2.34,....
#String or object ="17", "Muhammad","John"....."Eze",
#Boolean = True or False

name = "Muhammad" or 'Muhammad'

#Naming Convention
#correct way
namesake = wrong
name_sake = correct

#DATA STRUCTURES IN PYTHON
#List
#Tuple
#Set
#Dictionary

#How to identify Data structures
#Examples:
Bio_data =[] #List
Bio_data = () #Tuple
Bio_data = {} #Dictionary
Bio_data = set(1,2,3) #Set

#CONDITIONAL FORMATING (and ,or, not );logical operators
#Examples:
#Hassan Aand Husseini
#Boy or girl
#Not boy == girl
#Not girl == boy
# == means equal to
# = means assign to

In [ ]:
age == 78 #== means equal to , = means assingned to

False

In [ ]:
age = 18
age < 20

False

In [ ]:
(3>2) and (4>7) #and all conditions is true

False

In [ ]:
(age>40) and (age<20) #and all conditions muts be true

False

In [ ]:
(age>40) and (age<20) #and all conditions muts be true

False

In [ ]:
(age>40) or  (age<20) #or --- as far as one condition  is True

True

In [ ]:
#not T = F
#not F = T
not(age>40)

True

In [ ]:
name = "Alice"
Age = 30
Height = 5.5
gender = "Male"
name
Height
Age
gender

'Male'

In [ ]:
Age = 30
Age

30

In [ ]:
type("Alice")

str

In [ ]:
type(Height)

float

Data structures

List
Tuples
Dictionary&
Sets

Example 1

In [ ]:
#Creating a list
Fruit = ["Mango","Apple","Banana","Orange"]
type(Fruit)

list

In [ ]:
len(Fruit)

4

Example 2

#Life  expectancy is the average number of year  a person is expected to live based on the year of its birth.
#Life expectancy in the year 2020.
 #Example 2

In [ ]:
life_expectancy = {"Nigeria": 60,"Kenya":69,"Uganda": 68,"Ethiopia":68,"Sudan":67,"Rwanda": 65,"Tanzania":64,"Somalia":54}
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54}

In [ ]:
type(life_expectancy)

dict

Example *2*
#Dictionary

In [ ]:
#Some countries in the given africa regions
africa_regions = {"East Africa":["Etiopia","Rwanda","Somalia","South Sudan","Uganda","Burundi"],
                  "North Africa": ["Algeria", "Egypt", "Libya","Morroco","Sudan","Tunisia"],
                  "West Africa":["Nigeria","Ghana","Senegal","Benin","Liberia","Mali","Nigeria"],
                  "Central Africa":["Angola","Cameroon","Chad","DRC","Gabon"],
                  "Southern Africa":["Botswana","Ethiopia","Lesotho","Namibia","REunion","South africa"]}
print(africa_regions)

{'East Africa': ['Etiopia', 'Rwanda', 'Somalia', 'South Sudan', 'Uganda', 'Burundi'], 'North Africa': ['Algeria', 'Egypt', 'Libya', 'Morroco', 'Sudan', 'Tunisia'], 'West Africa': ['Nigeria', 'Ghana', 'Senegal', 'Benin', 'Liberia', 'Mali', 'Nigeria'], 'Central Africa': ['Angola', 'Cameroon', 'Chad', 'DRC', 'Gabon'], 'Southern Africa': ['Botswana', 'Ethiopia', 'Lesotho', 'Namibia', 'REunion', 'South africa']}

In [ ]:
print(africa_regions)

{'East Africa': ['Etiopia', 'Rwanda', 'Somalia', 'South Sudan', 'Uganda', 'Burundi'], 'North Africa': ['Algeria', 'Egypt', 'Libya', 'Morroco', 'Sudan', 'Tunisia'], 'West Africa': ['Nigeria', 'Ghana', 'Senegal', 'Benin', 'Liberia', 'Mali', 'Nigeria'], 'Central Africa': ['Angola', 'Cameroon', 'Chad', 'DRC', 'Gabon'], 'Southern Africa': ['Botswana', 'Ethiopia', 'Lesotho', 'Namibia', 'REunion', 'Soth africa']}

In [ ]:
africa_regions

{'East Africa': ['Etiopia',
  'Rwanda',
  'Somalia',
  'South Sudan',
  'Uganda',
  'Burundi'],
 'North Africa': ['Algeria', 'Egypt', 'Libya', 'Morroco', 'Sudan', 'Tunisia'],
 'West Africa': ['Nigeria',
  'Ghana',
  'Senegal',
  'Benin',
  'Liberia',
  'Mali',
  'Nigeria'],
 'Central Africa': ['Angola', 'Cameroon', 'Chad', 'DRC', 'Gabon'],
 'Southern Africa': ['Botswana',
  'Ethiopia',
  'Lesotho',
  'Namibia',
  'REunion',
  'South africa']}

In [ ]:
len(africa_regions)

5

In [ ]:
list(africa_regions)

['East Africa',
 'North Africa',
 'West Africa',
 'Central Africa',
 'Southern Africa']

In [ ]:
africa_regions.keys()

dict_keys(['East Africa', 'North Africa', 'West Africa', 'Central Africa', 'Southern Africa'])

In [ ]:
life_expectancy = {"Nigeria": 60,"Kenya":69,"Uganda": 68,"Ethiopia":68,"Sudan":67,"Rwanda": 65,"Tanzania":64,"Somalia":54}
life_expectancy.keys()

dict_keys(['Nigeria', 'Kenya', 'Uganda', 'Ethiopia', 'Sudan', 'Rwanda', 'Tanzania', 'Somalia'])

In [ ]:
life_expectancy.values()

dict_values([60, 69, 68, 68, 67, 65, 64, 54])

In [ ]:
life_expectancy.items()

dict_items([('Nigeria', 60), ('Kenya', 69), ('Uganda', 68), ('Ethiopia', 68), ('Sudan', 67), ('Rwanda', 65), ('Tanzania', 64), ('Somalia', 54)])

In [ ]:
life_expectancy.get("Nigeria")

60

Update Dictionary

Example 3

In [ ]:
life_expectancy.update({"Kenya":70,"Burundi":72})
life_expectancy

{'Nigeria': 60,
 'Kenya': 70,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 72}

Condtional Statements

Majority of the time when programming we will need ro control the flow of our logic .Our program will want to perform an action in only certisn cases,we acn use the followings:

1. if
2. elif
3. else

# if statement
It is use to make a decision ,the format for an if statement is:

if expression:

     statement 1
else:
     
      statement 2

The if statement checks whether the epression  evaluates to True, and if so,the statement '1' is executed ,otherwise the staenebt '2' is executed.

Note:

The indentation  before the statement 1 and 2 ,and the colon (:) in the if expression and else:

Example 4

In [ ]:
x = 25

y = 22

if (x < y):
  print ("x is less than y")

else:
  print ("x is greater than y")

x is greater than y

Example 5

Problem statement:
Write  a python if else statement that checks whether a given variable is an even or an odd number.

In [ ]:
#Solution
x = 7
if (x % 2 == 0):
  print("x is an even number")
else:
  print("x is an odd number")

x is an odd number

Example 6: if else statement

Problem statement
 Write a python program using  *if else statement *that checks whether a given value is even or odd number.

#Solution

We are going to use the input() function to ask for a value, and as you know, the data type of a variable gotten from an input function is always a string. Therefore, we are going to convert the result to an integer by using the int() function.

In [ ]:
x = int(input("Enter any number you want to check for odd or even"))

if (x % 2 == 0):
  print("x is an even number")

else:
  print("x is an odd number")

Enter any number you want to check for odd or even10
x is an even number

Example 7:Modulus

Its a remainder of number when divided with another number

In [ ]:
4%2

0

In [ ]:
3%2 == 0

False

Example 8 :Game of Guess

Problem statement

You wan to know whether your friends can guess your ATM password a accurately.You wrote the codes  below and then ask each and everyone of them yo enter your password.

In [ ]:
saved_password = 1519
new_password = input("Please guess my passwprd")

if int(new_password) == saved_password:

  print("Password correct")
else:
  print("Incorrect password")

Please guess my passwprd    1960
Incorrect password

Example 9 :Test

Problem statement

Test if 'a' is less than 'b' AND if 'c' greater than a:

In [ ]:
#Solution
a = 10
b = 13
c = 16

if (a > b and c > a):
  print("Both conditions are True")

else:
  print("one of the conditions is True")

one of the conditions is True

In [ ]:
a>b

False

In [ ]:
c>a

True

Combination of Conditional statements

if,elif, and else:

Now let's imagine we have mutiple conditions to check before the final ***else*** statement,this is where we can use the **elif** keyword to check for as many individual condition as possible.

In [ ]:
#Example 1
x = 2
y = 4
if x == y:
  print("Print condition True")
elif x > y:
  print("Second condition True")
elif x == 100:
  print("Third condition True")

else:
  print("None of the above conditions are True")

None of the above conditions are True

In [ ]:
#Example 2

x = 2
y = 6
if x == y:
  print("First condition is True")
elif y > x:
  print("Second condition  is True")
elif x == 100:
  print("Third condition True")

else:
  print("None of the above conditions are True")

Second condition  is True

Notice

Since y > x, therefore, this condition will be executed

Bank transfer experience

In [ ]:
#Example 4
amount_in_bank = 600
transfer_amount = 500

if amount_in_bank > transfer_amount:
  print ("transfer successful")
elif amount_in_bank == transfer_amount:
  print(" Transfer successfull! Remember to add more fund next time")
else:
  print ("Transfer Failded! Not Enough Funds")

transfer successful

 Sport Experience

In [ ]:
#Example 5
Kenya = 10
South_sudan = 12
Ethiopia = 9

if Kenya > Ethiopia:
  print("Kenya is having more point")
elif South_sudan == Ethiopia:
  print("South_sudan  and Ethiopia are having the same point currently")
else:
  print("Spectator needs to watch other game")

Kenya is having more point

Conditional statement Continued
#If and alse statement

#if .....the first condition
#else .....the second or the other condition

 Problem statement

 #Write conditional statement in python to show if a driver is overspeeding or normal.

 #How do i know if a driver is overspeeding or not?

In [ ]:
#Example 6
#Solution
speed = 70
if (speed >= 80):
  print("Driver is overspeeding")
else:
  print("Driver is not overspeeding")

Driver is not overspeeding

#Example 7

#Problem statement
You are Python a programmer, write a python code to check if a user score above 200.

In [ ]:
#Solution
user_score = 130
if (user_score > 200):
  print("User is admitted")
else:
  print("User is not admitted")

User is not admitted

Example 8

Problem statement

Write a python program to check if a number is even or odd number.

In [ ]:
#Solution
number = 10
if (number%2==0):  # % -- modulus(remainder)
   print("Number is even")
else:
  print("Number is odd")

Number is even

#Example 9

Problem statement
#Write a python code to check if a user is eligible to vote in an election in Nigeria or not.

In [ ]:
age = 27
if (age == 18):
  print ("user is eligible to vote")
else:
    print("user is not eligible to vote")

user is not eligible to vote

#elif
This means we have more than one if and else

#if and else
#elif you wan to have more conditions to be tested before you get result.

#Example 10
#elif

In [ ]:
my_number = -9
if (my_number%2==0):
  print("the number is even")
elif(my_number<0):
  print("the number is negative")
else:
  print("the number is odd")

the number is negative

#Nestedif

 This means if inside an if

#Example 11

In [ ]:
my_number = -9
if (my_number >= 0):
  if (my_number % 2 == 0):
    print("The number is an even number")
  else:
    print("The number is an odd number")
else:
  print("The number is negative")

The number is negative

#Assignment

#You are a WAEC Python programmer, write a program flow that is able to grade a st[link text](https://)udent based on WAEC standard, output the grade as A1 or B2 or B3 or C4 or C5 or C6 or C6 or D7 or E8 or F9.

In [ ]:
#Solution 1
student_grade = 80
if (student_grade >= 80):
  print("A1")
elif (student_grade >= 65):
  print("B2")
elif (student_grade >= 55):
  print("B3")
elif (student_grade >= 45):
  print("C4")

A1

In [ ]:
student_grade = 80
if (student_grade >= 80):
  print("Student grade Excellent ")
elif (student_grade <= 80):
  print("B3")
else:
  print("Student grade is Good")

Student grade Excellent

In [ ]:
#Solutionn 3
student_grade = 55
if (student_grade <=50):
  print("Passed")
else:
  print("Failed")

Failed

#CONCANTENATION

In [ ]:
#Example 1
a = 5
if a >= 0:
  if (a % 2 == 0):
     print(a,'is even') #cocantenation
  else:
    print(a, 'is odd')
else:
  print(a, 'is negative')

5 is odd

LOOPS

Loop is one of the major tool of control flow that allows us to execute a block of code  many times as long as the condition is **True**.There are two major types of loops.

1. While loop

2. For loop

WHILE LOOP

Generally,the while loop is used to keep looping through a block of code while the condition is True. It can also be used to loop through a block of code a certain number of times as seen in the code below:

#while condition and the increment +1

In [ ]:
#Example 2
x = 5 #initialize our iterator x
while (x <= 10): #while is for looping
     print(x)
     x+= 1  #increment

5
6
7
8
9
10

AS seen in the example above,in a while loop,we need to have initialised a variable before the while statement ,in the case of our example 'a' was installed to 5.Another mportant thing to note is that the variable must be incremented to prevent the loop from executing forever(infinite loop).

#Infinite Loop

it is a loop that never terminates.

it is useful in client/server programing so that servers can continually communicate or receive request from clients.

THE BREAK STATEMENT

The break statement  is used to exit a loop when the condition is still **True**.

In [ ]:
my_number = 5 #initiated our my_number to be 5
while True : #once I run the code ,the loop should begin
     number = int(input('Guess a number:'))
     if (number == my_number):
      print ('Yay!! Your guess was right.')
      break
     else:
        print("You are wrong")

Guess a number:68
You are wrong
Guess a number:5
Yay!! Your guess was right.

THE CONTINUE STATEMENT

The** continue** statement is used to stop the current iteration and move on to the next iteration.When the program execution reaches a continue statement,the program execution immediately jumps back to the start of the loop and re-evaluates the loop's condition.

Suppose we want to print  odd numbers between 1 and 50,we can use a continue statement to achieve it.

In [ ]:
#Example
a = 0 #initialization
while ( a <= 50):
     a += 1
     if(a % 2 == 0):
          continue #all the next iteration
     print(a)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51

FOR LOOPS

For loops are used for iterating over and a sequence (e.g strings,list,dictionaries,tuples,lines in a file etc).We can use for loop and the range() function to loop through a block of code a certian number of times.

In [ ]:
#Example

sequence = "hello" # Define 'sequence' as an iterable (e.g., a string)
for iterator in sequence:
  name = 'Brian'
  print(name)

Brian
Brian
Brian
Brian
Brian

In [ ]:
for s in name: #S is an iterator
     print(s)

B
r
i
a
n

In [ ]:
#name is the sequence
#ss is the iterator
#print the ss which is an iterator not the name where you are loop
for ss in name:
  print (ss)

B
r
i
a
n

In [ ]:
names = 'Brian'
for ss in names:   #iterator
     print(ss)
print ('End of loop')

# In the above example ,we used the for loop to iterate through the string and to print each character in the string.As used in the code above 'character' is just a variable name,we could use any varibale name like a letter.alphabet etc.We can also use for loops to iterate through a list.We could discuss lists abd other data sructures in the course.

In [ ]:
#Example
Colours = ['red','blue','green','yellow']
print(Colours)

['red', 'blue', 'green', 'yellow']

In [ ]:
for x in Colours:
  print(x)

red
blue
green
yellow

In [ ]:
door = ['red','blue','green','yellow']
for xx in door :
  print(xx)

red
blue
green
yellow

In [ ]:
digits = [10,20,30,40]
for nums in digits:
  print(nums)

10
20
30
40

USING LOOP FOR IN RANGE OF NUMBERS

Let see another an example of using the range () function with for loop to print even numbers betwee 1 and 15.

```
# This is formatted as code
```

In [ ]:
#Example 1
for i in range (1,16): #i is an iterator in for loop
    if (i % 2 == 0):
        continue #it skips the right iteration (i.e even numbers) and give the opposite(i.e odd numbers)
    print(i)

1
3
5
7
9
11
13
15

In [ ]:
#Example 2
for a in range (3,10): # reverse order of thr range
    print(a)

3
4
5
6
7
8
9

In [ ]:
#Example 3
for i in range(0,2): #atahe last 2 is the interval added
    print(i)

0
1

# Just like **while loops,break,continue** and **else** statements can be used in **for loops**.

In [ ]:
fruits = ['banana','mango','orange','apple','grape']
for x in fruits:
    if x == 'apple':
        continue
    print(x)

banana
mango
orange
grape

EXERCISE:GUESS THE NUMBER

In this exercise,initialise a **variable** with a number between **1 and 20**.Giving the user **6 chances** ,tell the user to **guess your chosen number**.Tell the user if his/her **chosen number is greater or less than** your **chosen number** or if he/she **guessed your chosen number right.**

In [ ]:
# solution
# initialize the variable with a random number between 1 and 20
chosen_number = 8

# set the number of chances to 6
num_chances = 6

# loop for 6 chances
for i in range(num_chances):

    # get the user's guess
    user_guess = int(input(f"Guess my number between 1 and 20 (Chances left: {num_chances - i}): "))

    # check if the guess is correct
    if user_guess == chosen_number:
        print("Congratulations! You guessed it right.")
        break

    # check if the guess is too high
    elif user_guess > chosen_number:
        print("Your guess is too high.")

    # check if the guess is too low
    else:
        print("Your guess is too low.")

# If the loop finishes without a correct guess
if user_guess != chosen_number:
    print(f"Sorry, you've run out of chances. The correct number was {chosen_number}.")

Guess my number between 1 and 20 (Chances left: 6): 8
Congratulations! You guessed it right.

COLLECTIONS

As well as the basic data types we introduced above,very commonly you will want to store and operate on collections of values ,and python has several data structures that you can use to do this.The general idea is that you can place several items into a single collection and then refer to that collection as a whole.Which one you will use will depend on what problem you are trying to solve.

PYTHON DATA STRUCTURES

 **Tuples**


  (1) can contain any number of items

  (2) can contain diffrent types of items
  
  (3)cannot be altered once created (they are immutable)
  
  (4) items have defined order

  A tuple is created by using round brackets around the items it contains, with commas seperating the individual elements.

In [ ]:
***You can of course use variables in tuples and data structures
#Example 1
x = 1.2
y = -0.3
z = 0.9
t = (x,y,z)  # () is atuple when we are discussing data structure
print(t)

(1.2, -0.3, 0.9)

*** Tuples can packed and unpacked with a convenient syntax.The number of variables used to unpack the tuple must match thr number of elements in the tuple.

In [ ]:
#Example 2
a = 1
b = 2
c = 3

a,b,c = 1,2,3#Pack and unpack syntax
print (a,b,c)

1 2 3

In [ ]:
#Example 3
t = 2,3,4,7 #tuple packing
print('t is',t)
x,y,z, f = t #tuple unpacking
print('x is',x) # Concatenation is to enclose string with variable inside a print statement.
print('y is',y)
print('z is',z)
print('f is',f)

t is (2, 3, 4, 7)
x is 2
y is 3
z is 4
f is 7

*** Lists

(1) Can contain any number of items

(2) Can contain different types of items

(3) Can be altered once created (they are mutable)

(4) Items have a particular order

***List are created with square brackets around their items:

In [ ]:
#Example 3
a = [1, 3,9,'py', 217.213] #mixed data types

b = ["python"]

c = [] #emtpy list
print(a)
print(b)
print(c)

[1, 3, 9, 'py', 217.213]
['python']
[]

***Lists and tuples can contain other list and tuples, or any other type of collection:

In [ ]:
#Example 4
matrix = [ [input(),input()], input()]
print(matrix)

8,9,10
9
11
[['8,9,10', '9'], '11']

***Lists are created with square brackets around their items:

In [ ]:
#Example 5
a = [1,3,9]