<a href="https://colab.research.google.com/github/Muhammed1978/Amazon-Product-Review-Analysis/blob/main/DataAnalysis_Pandas0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Data Analysis with Pandas

Objectives

* In this module participants will learn how to use pandas for importing data, data cleaning  and analysis.

* Students can think of Pandas as an extremely powerful version of the spreadsheet like Microsoft  Excel  with a lot of more features .

* At the course , students will be able to import, clean and do various data analysis with pandas.

# Importing the Pandas Library

To import pandas  we usually import it with its alias as pd

In [ ]:
import pandas as pd

# Core components of Pandas

* The two primary components of *Pandas* are the *Series and DataFrame*.

* A series is eventually a column, and a *DataFrame* is a multi-dimensional table made up of a collection of *Series*.

# Series

    Gender             Country                          Age
   
    Male             Nigeria                           11
    Female           Ethiopia                          17
    Female           Rwanda                            15 Female           Somalia                           17
    Male             Sudan                             13
    Female           Kenya                              11 Male             Uganda                             9
    Female            Kenya                             18 Male              Somalia                           13
    Female            Rwanda                            16

# DataFrame

    Gender           Countries                    Age

    Male              Uganda                       11
    Female            Ethiopia                     17
    Female            Rwanda                       15
    Female            Rwanda                       17
    Male              Sudan                        13
    Female            Kenya                        11
    Male              Uganda                       9
    Female            kenya                        14
    Male              Somalia                      16

# Series and DataFrame

 Panda Series

 * A series is a 1-D array like object containing a sequence of values and capable of holding any data type with axis and labels or index .

 * An example of a series object is one column from a DatFrame. That is, Pandas Series is formed from only an array of data.

# How to create Panda Series

In [2]:
# Example
import pandas as pd
Gender = pd.Series(['Male','Female','Female','Male','Female','Female','Female'])
Gender

0      Male
1    Female
2    Female
3      Male
4    Female
5    Female
6    Female
dtype: object

In [3]:
type(Gender)  # This is a pandas series type

pandas.core.series.Series

In [4]:
# example 2
country = pd.Series(['Nigeria','Ethiopia','Rwanda','Rwanda','Sudan','Kenya','Uganda','Kenya','Somalia'])
country

0     Nigeria
1    Ethiopia
2      Rwanda
3      Rwanda
4       Sudan
5       Kenya
6      Uganda
7       Kenya
8     Somalia
dtype: object

In [5]:
type (country)

pandas.core.series.Series

# Exercise

In [6]:
age = pd.Series([11,17,15,13,11,18,9,14,16])
age

0    11
1    17
2    15
3    13
4    11
5    18
6     9
7    14
8    16
dtype: int64

In [7]:
type(age)

pandas.core.series.Series

# Pandas DataFrame

* A DataFrame represents a rectangular table of data and contains an ordered collection of columns,each of which can be a different valu type (integer, float, boolean,etc).

* We can think of DataFrame as a bunch of series f objects put togther to share the same index.