<a href="https://colab.research.google.com/github/Muhammed1978/Amazon-Product-Review-Analysis/blob/main/DataAnalysis_Pandas0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Data Analysis with Pandas

Objectives

* In this module participants will learn how to use pandas for importing data, data cleaning  and analysis.

* Students can think of Pandas as an extremely powerful version of the spreadsheet like Microsoft  Excel  with a lot of more features .

* At the course , students will be able to import, clean and do various data analysis with pandas.

# Importing the Pandas Library

To import pandas  we usually import it with its alias as pd

In [ ]:
import pandas as pd

# Core components of Pandas

* The two primary components of *Pandas* are the *Series and DataFrame*.

* A series is eventually a column, and a *DataFrame* is a multi-dimensional table made up of a collection of *Series*.

# Series

    Gender             Country                          Age
   
    Male             Nigeria                           11
    Female           Ethiopia                          17
    Female           Rwanda                            15 Female           Somalia                           17
    Male             Sudan                             13
    Female           Kenya                              11 Male             Uganda                             9
    Female            Kenya                             18 Male              Somalia                           13
    Female            Rwanda                            16

# DataFrame

    Gender           Countries                    Age

    Male              Uganda                       11
    Female            Ethiopia                     17
    Female            Rwanda                       15
    Female            Rwanda                       17
    Male              Sudan                        13
    Female            Kenya                        11
    Male              Uganda                       9
    Female            kenya                        14
    Male              Somalia                      16

# Series and DataFrame

 Panda Series

 * A series is a 1-D array like object containing a sequence of values and capable of holding any data type with axis and labels or index .

 * An example of a series object is one column from a DatFrame. That is, Pandas Series is formed from only an array of data.

# How to create Panda Series

In [ ]:
# Example
import pandas as pd
Gender = pd.Series(['Male','Female','Female','Male','Female','Female','Female'])
Gender

0      Male
1    Female
2    Female
3      Male
4    Female
5    Female
6    Female
dtype: object

In [ ]:
type(Gender)  # This is a pandas series type

pandas.core.series.Series

In [ ]:
# example 2
country = pd.Series(['Nigeria','Ethiopia','Rwanda','Rwanda','Sudan','Kenya','Uganda','Kenya','Somalia'])
country

0     Nigeria
1    Ethiopia
2      Rwanda
3      Rwanda
4       Sudan
5       Kenya
6      Uganda
7       Kenya
8     Somalia
dtype: object

In [ ]:
type (country)

pandas.core.series.Series

# Exercise

In [ ]:
age = pd.Series([11,17,15,13,11,18,9,14,16])
age

0    11
1    17
2    15
3    13
4    11
5    18
6     9
7    14
8    16
dtype: int64

In [ ]:
type(age)

pandas.core.series.Series

# Pandas DataFrame

* A DataFrame represents a rectangular table of data and contains an ordered collection of columns,each of which can be a different value type (integer, float, boolean,etc).

* We can think of DataFrame as a bunch of series of objects put togther to share the same index.

# How to create a Pandas DataFrame

There are many ways to create a DataFrame scratch but a great option is to create it from a dictionary.

# Creating DataFrame from a Dictionary

* Among the many things that can serves as input to make a Pandas DataFrame is a  dict (Dictionay).

* To make a data frame from a dictionary, you will need to pass it to the DataFrame function in the data argument.

# Example 1

DataFrame

 Gender        Country         Age

    Male        Uganda          11

    Female     Ethiopia         17

    Female     Rwanda           15

    Female     Somalia          17

    Male       Sudan            13

    Female     Kenya            11

    Male       Uganda            9

    Female     Kenya            18

    Male       Somalia          13

    Female     Rwanda           16

In [ ]:
# Example: Creating DataFrame
registrations_dict = {"Gender": ["Male", "Female", "Female", "Female", "Male", "Female", "Male", "Female", "Male", "Female"],
                      "Country": ["Uganda", "Ethiopia", "Rwanda", "Somalia", "Sudan", "Kenya", "Uganda", "kenya", "Somalia", "Rwanda"],
                      "Age":[11, 17, 15, 17, 13, 11, 9, 18, 13, 16]}

registrations_dict

{'Gender': ['Male',
  'Female',
  'Female',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female'],
 'Country': ['Uganda',
  'Ethiopia',
  'Rwanda',
  'Somalia',
  'Sudan',
  'Kenya',
  'Uganda',
  'kenya',
  'Somalia',
  'Rwanda'],
 'Age': [11, 17, 15, 17, 13, 11, 9, 18, 13, 16]}

In [ ]:
type(registrations_dict)

dict

And then pass the result to the pandas Dataframe constructor.

In [ ]:
import pandas as pd
registrations_df = pd.DataFrame(registrations_dict)
registrations_df

   Gender   Country  Age
0    Male    Uganda   11
1  Female  Ethiopia   17
2  Female    Rwanda   15
3  Female   Somalia   17
4    Male     Sudan   13
5  Female     Kenya   11
6    Male    Uganda    9
7  Female     kenya   18
8    Male   Somalia   13
9  Female    Rwanda   16

**The resulting DataFrame will have its index assigned automatically as with Series, and the columns are placed unordered .if you specify a sequence of columns, the DataFrame's will be arranged in that order.**

In [14]:
registrations_df = pd.DataFrame(registrations_dict, columns = ["Country", "Gender", "Age",])
registrations_df

    Country  Gender  Age
0    Uganda    Male   11
1  Ethiopia  Female   17
2    Rwanda  Female   15
3   Somalia  Female   17
4     Sudan    Male   13
5     Kenya  Female   11
6    Uganda    Male    9
7     kenya  Female   18
8   Somalia    Male   13
9    Rwanda  Female   16