<a href="https://colab.research.google.com/github/Muhammed1978/Amazon-Product-Review-Analysis/blob/main/DataAnalysis_Pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical Introduction to Data Analysis with Pandas
  * Pandas is a powerdful Python Library for data analysis that is widely used in fields such as data science , machine learning and statistics.

 * It offers tools for handling and analyzing data in a way that is both efficient and flexible.This guide introduces you to the basics of Pandas, helping you get started with data manipulation and analysis.

# Objectives of this Module

By the end of this tutorial, you will:

 * Understand  the basic functionality of Pandas for data analysis.

 * Learn how to import data from various format (csv, excel etc).

 * Be able to clean and preprocess data effectively.
  
 * Perform basic statistical analysis and visualization.

 **Notice**
  
  * Think of Pandas as an advance version of spread sheet software like Microsoft excel, but with far more powwrful capabilities.

  * It aids you in manipulating and analyizing large data sets with ease.

# Importing th Pnads library

Before you can start using Pandas, you need to import it to Python environment as shown below:

In [ ]:
import pandas as pd

By convention Pandas is imported by alias pd, to make the code shorter and readable.

# Core Components of Pandas Library

The two primary components of pandas on the Series and DataFrame.

# Importing Data with Pandas

* As you can see from various examples ,it is so tedious to start creating DataFrame from scratch.In the data science world , data will be available for you on a spreadsheet such as Ms-Excel.

* Our job as data  sceintiest is to import those datasets using *Pandas*. Pandas can import different format of data such as *.xlsx(Excel data)*, *.csv(comma separated value)*, *.sav(SPSS data)*, *.dat(STATA data)*, or any other *online (the web)*.

# How to read in data

It's quite simple to load data from various file format into a *DataFrame*. In this section,you will learn how to import different file format with *Pandas*.

In [2]:
read_data = {"File Format":[".csv", ".xlsx or .xls old Excel file format", ".json",".html", "sas", ".dta", ".sav"],
             "Pandas Function":[".read_csv()", ".read_excel()", ".read_json()", ".read_html()", "read_sas", "read_stata", "read_sav"],
             "Description":["Load delimited data from a file, URl, or file-like object; use comma as default delimiter","Read tabular data from an excel XLS or XLS file", "Read data from a JSON (Javascript Object Notation) string representation", "Read all table found in the given HTML document", "Read a Statistical Analysis Software (SAS) dataset stored in one of the SAS system's custom storage formats", "Read a dataset from Stata file format", "Read a dataset from Statistical Package for Social Sciences(SPSS) file format"]
             }
read_data

{'File Format': ['.csv',
  '.xlsx or .xls old Excel file format',
  '.json',
  '.html',
  'sas',
  '.dta',
  '.sav'],
 'Pandas Function': ['.read_csv()',
  '.read_excel()',
  '.read_json()',
  '.read_html()',
  'read_sas',
  'read_stata',
  'read_sav'],
 'Description': ['Load delimited data from a file, URl, or file-like object; use comma as default delimiter',
  'Read tabular data from an excel XLS or XLS file',
  'Read data from a JSON (Javascript Object Notation) string representation',
  'Read all table found in the given HTML document',
  "Read a Statistical Analysis Software (SAS) dataset stored in one of the SAS system's custom storage formats",
  'Read a dataset from Stata file format',
  'Read a dataset from Statistical Package for Social Sciences(SPSS) file format']}

In [6]:
import pandas as pd
read_data_df = pd.DataFrame(read_data)
read_data_df

,File Format,Pandas Function,Description
0,.csv,.read_csv(),"Load delimited data from a file, URl, or file-..."
1,.xlsx or .xls old Excel file format,.read_excel(),Read tabular data from an excel XLS or XLS file
2,.json,.read_json(),Read data from a JSON (Javascript Object Notat...
3,.html,.read_html(),Read all table found in the given HTML document
4,sas,read_sas,Read a Statistical Analysis Software (SAS) dat...
5,.dta,read_stata,Read a dataset from Stata file format
6,.sav,read_sav,Read a dataset from Statistical Package for So...

# Import data from CSV

With *.csv* (comma separated value) format all you need is pd.read_csv() comman to load in the data as DataFrame.

# Example 1

Lead the Ethiopian's flowers dataset(Ethiopian_flowers.csv) that was adapted from the well known Iris dataset.Remember the first thing is to import all the necessary libraries such as numpy, pandas etc.

**Note**
 The data is in the datasets folder or directory.

In [7]:
pwd

'/content'

In [1]:
import numpy as np
import pandas as pd

In [8]:
california_housing_test = pd.read_csv("sample_data/california_housing_test.csv")
california_housing_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [18]:
california_housing_train = pd.read_csv("sample_data/california_housing_train.csv")
california_housing_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [12]:
churn_Modelling_Dataset = pd.read_csv("/content/Churn_Modelling Dataset.csv")

In [13]:
churn_Modelling_Dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Churn
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [26]:
Promotion_Dataset = pd.read_csv("sample_data/Promotion_Dataset.csv")
Promotion_Dataset

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,MSc MBA and PhD,Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38307,YAK/S/54802,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1990,0.0,2018,0,0,70,LAGOS,Yes,Married,No,No,0,0
38308,YAK/S/54805,Customer Support and Field Operations,MSc MBA and PhD,Female,Agency and others,2,1984,5.0,2013,0,0,48,IMO,Yes,Married,No,No,1,0
38309,YAK/S/54806,Information and Strategy,First Degree or HND,Male,Agency and others,2,1994,12.5,2016,1,0,71,ANAMBRA,No,Married,No,No,3,0
38310,YAK/S/54807,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,1992,2.5,2017,0,0,37,KWARA,Yes,Married,No,No,1,0
38311,YAK/S/54808,People/HR Management,First Degree or HND,Male,Agency and others,2,1994,2.5,2014,0,0,41,KWARA,Yes,Single,No,No,2,0

In [16]:
!ls /content/

'Churn_Modelling Dataset.csv'   drive   sample_data

# Importing data from Excel

 With .xlsx or xls format all you need is pd.read_excel() command to load in the data.

 # Example 2

 Load the East_Africa-names.xlsx which was scrapped from https://www.behindthename.com/submit/names/usage/eastern-african. Since you have imported all the necessary libraries such as numpy and pandas .You don't need to import them here again.

In [1]:
# Example : loading east_africa_names.xlsx
import numpy as np
import pandas as pd
east_africa_names = pd.read_excel("datasets/East_Africa-names.xlsx")
east_africa_names

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/East_Africa-names.xlsx'